*{
    margin: 0;
    padding: 0;
}

 html,body{
    font-family: 'Jura', sans-serif;
    width: 100%;
    height: 100%;
    background: 100% 100% no-repeat;
    background-size: cover;
    z-index: -2;
    color: white;
}

.weather__location, .eather__town, .weather__country, .weather__time, .weather__date, .weather__curent-condition, .humidity, .weather__temperature, .wind-speed-text{
    text-align: center;
}

.weather__location{
    font-size: 25px;
}

.weather__time, .weather__date{
    font-size: 20px;
}

.weather__current-text, .weather__temperature{
    font-size: 35px;
}

.cover{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
}

.header{
    width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.main{
    width: 1100px;
    height: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.button{
    height: 50px;
    width: 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.253);
    color: white;
    border: 2px solid white;
    font-size: 20px;
    cursor: pointer;
    outline: none;
}

.search-button{
    width: 100px;
}

button:hover{
    background-color: rgb(194, 194, 194);
}

.buttons-panel__refresh{
    width: 100px;
    margin-right: 20px;
}
.switchTemperatureToF{
    margin-left: 20px;
}

.active{
    background-color: rgba(119, 119, 119, 0.671);;
}

.map{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    margin: 2%;
}

.weather{
    display: grid;
    grid-template-columns: 8fr 1fr;
    width: 100%;
    height: 50%;
}

.weather__today{
    height: 350px;
}

.weather__next-days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
}
.weather__add-days{
    height: 150px;
    margin: 2%;
    padding: 1%;
    border: 2px solid white;
    border-radius: 20px;
}

.search-form__input{
    font-family: 'Jura', sans-serif;
    height: 50px;
    background-color: rgba(177, 177, 177, 0.014);
    outline: none;
    color: white;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: large;
    width: 190px;
}
