*{
    margin: 0;
    padding: 0;
}

 html,body{
    font-family: 'Jura', sans-serif;
    width: 100%;
    height: 100%;
    background: 100% 100% no-repeat;
    background-size: cover;
    z-index: -2;
    color: white;
}

.weather__location, .eather__town, .weather__country, .weather__time, .weather__date, .weather__curent-condition, .humidity, .weather__temperature, .wind-speed-text{
    text-align: center;
}

.weather__location{
    font-size: 25px;
}

.weather__time, .weather__date{
    font-size: 20px;
}

.weather__current-text, .weather__temperature{
    font-size: 35px;
}

.cover{
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.header{
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
}

.main{
    width: 70%;
    height: 65%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.map{
    width: 300px;
    height: 300px;
}

.weather{
    display: grid;
    grid-template-columns: 8fr 1fr;
    width: 100%;
    height: 50%;
}

.weather__today{
    height: 350px;
}

.weather__next-days{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column: 1/3;
}
.weather__add-days{
    height: 150px;
    margin: 2%;
    padding: 1%;
    border: 2px solid white;
    border-radius: 5%;
}